<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <title>Home</title>
</head>
<body class="homes">
    <section class="main">
        <div class="nav">
            <a href=""><p class="hd">RESUME YOU</p></a>
            <a href="#con"><p class="contact">Contact US</p></a>
        </div>
        <div class="bi">
        <img src="/static/img/pexels-steve-johnson-1269968.jpg" alt="" class="bg">
        </div>
        <div class="page">
            
            <p class="lft">
                <div class="waviy">
                    <span style="--i:1">The&nbsp;</span>
                    <span style="--i:2">C.V&nbsp;</span>
                    <!-- <span style="--i:3">e &nbsp;</span>
                    <span style="--i:4">C</span>
                    <span style="--i:5">V &nbsp;</span> -->
                    <span style="--i:3">That <br> </span>
                    <span style="--i:4">Gets &nbsp;</span>
                    <span style="--i:5">The &nbsp;</span>
                    <span style="--i:6">Job &nbsp;</span>
                    <span style="--i:7">Done</span>
                 
                   </div>
                
            <p class="pg">Standing out Professional Recruiter approved CV.
                 Ready in minutes with our step-by-step builder.</p>
                 <a href="http://127.0.0.1:8000/create"><button class="create">Create</button></a>
        </div>
        <div class="rgt">
            <img src="{% static 'img/resume.jpg' %}" alt="" class="cv">
        </div>
    </section>
    <div class="footer" id="con">
        <h1>Hope you found Resume-You interesting</h1>
        <p>Reach us at: <br> email: abhinandvj6@gmail.com <br> ph: 7561001101</p>

        <div class="logos">
            <a href="https://github.com/AbhinandVJ6" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://in.linkedin.com/in/abhinand-vj-9a308a94" target="_blank"><i
                    class="bi bi-linkedin ms-3"></i></a>
        </div>
        <p id="copyright">RESUME-YOU &nbsp; © 2022 All Rights Reserved</p>
    </div>

</body>
</html>