<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Hello World</title>
</head>
<body class="colr">
    <form action="/" method="POST"> {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required="">
        <textarea name="address" placeholder="How is your day"></textarea>
        <input type="submit" name="POST">
    </form>
    <h1>Woahh</h1>
    {% for a in als %}
    <li> {{ a.name }} </li>
    {{ a.address }}
    {% endfor %}
</body>
</html>